.paragraph{
    text-align: left;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
    text-indent: 0;
    align-content: center;
    font-family: 'Crimson Pro';
    font-size: 25;
    color: grue;
    border: 2px dashed #646cffaa;
    border-radius: 10px;
    
    
    
    filter: drop-shadow(0 0 4em #5d03daaa);

}