.paragraph{
    text-align: left;
    margin-left: 10%;
    margin-right: 57%;
    align-content: center;
    font-family: 'Crimson Pro';
    font-size: 25;
    color: grue;
    /* border: 1px solid grue; */
    border: 2px dashed #646cffaa;
    border-radius: 5px;
    padding: 10px;
    
    
    
    filter: drop-shadow(0 0 2em #646cffaa);

}