.navbar{
    /* background-color: #2b2b2b; */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 30px #2b55dfaa; */
    /* border: 2px solid #0c0c0caa; */
    /* background-color: #1a1a1a; */

    border-radius: 10px;
    width: 90px;
    height: 15px;
    transition: border-color 0.25s;
    user-select: pink;
    -webkit-user-select: blue; 
}

@media (prefers-color-theme: dark){
    .navbar{
        background-color: white;
        color:white;
    }
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sho {
    color:none;
    background-color: blue;
}