#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.image {
  object-fit: contain;
  /* outline: #686868 auto 4px; */
  outline-color: #686868;
  /* filter: drop-shadow(0 0 1em #8d8d8daa); */
  border-radius: 0px;
  user-select: none;
  width: 100%;
  align-self: center;
}
.description{
  /* width: 75%;
  padding: 15px; */
  text-align: left;
  max-width: 90%;
  min-width: 90%;
  align-self: center;
  margin-right: auto;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #449bed 0%,
    #5e5ee0
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(to right, #ff0000, #ffff00, #00ff00);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: bold;
  animation: animate-gradient 3s ease infinite;
}
.spaced {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.spaced div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min(90%, 25em);
  align-items: flex-start;
}